*{
    margin: 0px;
}

body{
    font-size: large;
}

div{
    padding: 5px;
}

header {
    color:blue;
    padding: 5px;
    background-color: rgb(206,234,246);
    font-family: Axure Handwriting, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 3px 5px 6px #6C9;
}

footer {
    background-color: rgb(206,234,246);
    padding: 5px;
}

#wrapper{
    padding: 0px;
    display: flex;
}

#main {
    order: 2;
    background-color: rgb(255,253,205);
    flex-basis: auto;
    flex-grow: 1;
    /* min-width: 360px; */
    padding: 0px;
}

#left_side {
    order: 1;
    background-color: rgb(253,227,212);
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

#right_side {
    order: 3;
    background-color: rgb(237,219,235);
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

@media(max-width: 760px) {
    #wrapper{
        display: block;
    }

    #left_side {
        background-color: rgb(237,219,235);
    }

    #right_side {
        background-color: rgb(253,227,212);
    }
} 